/* pages/aboutme/aboutme.wxss */
/* .about{} */
.active_item_title{
  padding: 15px;
  background-color: #FFF;
}
.about-wei {
  text-align: center;
}  /*居中*/
.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  
} /*margin: 5px auto 0;*/
.imagesize image{
  width: 100%x;
  height: 200px;
}
.about-title {
  display: inline-block;
  /* margin: 20px 0; */
}/*display: inline-block;margin: 20px 0;text-align: center;*/

.about-content {
  text-indent: 2em;
  font-size: 16px;
  margin: 0 24px;
  padding-top: 20rpx;
  line-height: 1.5;
} /*缩进字体大小和加边框线高*/
.about-addr {
  font-size: 16px;
  text-indent: 2em;
  line-height: 2;
  padding-top: 20rpx;
}
.about-tab {
  margin-top: 20px;
}
.in-img {
  width: 124px;
  height: 110px;
}
