/* pages/led/led.wxss */
/* 页面page设计 */
page {
  background-color: #f8f8f8;
}

/* 顶部模式和通道 */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60rpx;
  padding: 0 24rpx;
  /* background: #fff; */
}
.model {
  width: 70rpx;
  height: 35rpx;
  font-size: 30rpx;
  font-family: SourceHanSansCN-Regular;
  color: #333;
  font-weight: 500;
  margin-left: 30rpx;
  
}
.channel {
  width: 160rpx;
  height: 50rpx;
  margin-top: 20rpx;
  text-align: center;
  line-height: 50rpx;
  font-size: 30rpx;
  font-family: SourceHanSansCN-Regular;
  color: #333;
  background-color: #fff;
  font-weight: 500;
  margin-left: 20rpx;
  border-radius: 20rpx;
  box-shadow: 1rpx 2rpx 18rpx 0rpx 
		rgba(128, 128, 128, 0.1);
}

/* 顶部修改设备名称界面设计 */
.EditName{
  height: 100%;
  display: flex;
  justify-content: center;
}
.weuiCell {
  display: flex;
  justify-content: center;
  padding: 20rpx;
  border-radius: 20rpx;
  height: 100%;
  width: 90%;
  margin-top: 10rpx;
  background-color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2rpx solid #dadada;
}
.weuiCellHd {
  display: inline-block;
  width: 50rpx;
  /* margin-left: 10rpx; */
}
.weuiCellHd image {
  width: 100%;
  height: 20px;
  vertical-align: -5rpx;
}
.weuiCellBd {
  display: inline-block;
  width: 150rpx;
  margin-left: 5rpx;
}

.weuiCellBdP {
  width: 150rpx;
  font-size: 14px;
  color: #939393;
}

/* 设备名 */
.equipmentName {
  align-items: center;
  font-size: 14px;
  color: #939393;
  margin-left: 450rpx;
}

.weuiCellHdArrow {
  display: inline-block;
  top: 40px;
  width: 40rpx;
}

.weuiCellHdArrow image {
  display: inline-block;
  width: 100%;
  height: 40rpx;
  vertical-align: -5rpx;
}

/* 弹窗设置 */
.modalMask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  overflow: hidden;
  z-index: 9000;
  color: #fff;
}

.modalDialog {
  width: 540rpx;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 9999;
  background: #f9f9f9;
  margin: -180rpx 105rpx;
  border-radius: 36rpx;
}

.modalTitle {
  padding-top: 50rpx;
  font-size: 36rpx;
  color: #030303;
  text-align: center;
}

.modalContent {
  padding: 50rpx 32rpx;
}

.modalInput {
  display: flex;
  background: #fff;
  border: 2rpx solid #ddd;
  border-radius: 4rpx;
  font-size: 28rpx;
}
.inputHolder {
  color: #666;
  font-size: 28rpx;
}
.modalFooter {
  display: flex;
  flex-direction: row;
  height: 86rpx;
  border-top: 1px solid #dedede;
  font-size: 34rpx;
  line-height: 86rpx;
}
.btnCancel {
  width: 50%;
  color: #666;
  text-align: center;
  border-right: 1px solid #dedede;
}

.btnConfirm {
  width: 50%;
  color: #69c3aa;
  text-align: center;
}

/* 顶部swiper */
.top-swiper-box {
  display: flex;
  width: 100%;
  height: 100%;
}
.top-swiper-body {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: unset;
  width: 100%;
  height: 280rpx;
  /* margin-top: 20rpx; */
}
.top-imageItem {
  height: 220rpx;
  width: 180rpx;
  border-radius: 7rpx;
  margin: 10rpx 0rpx;
  /* border: 3rpx solid #999;
	border-radius: 10rpx;
  padding: 10rpx; */
  /* opacity: 0.5; */
}

/* 顶部tab设计 */
.tabHeader {
  /* height: 250rpx; */
  display: flex;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
}
.tabHeader .tabItem {
  color: #333;
  font-size: 40rpx;
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  /* border-bottom: 1px solid #fff; */
}
.tabHeader .cur {
  /* color: #2ca2ed; */
  /* border-bottom: 1px solid #2ca2ed; */
  transform: scale(1.3);
  transition: all 0.2s ease-in 0s;
}
/* 顶部tab图片设置 */
/* swiper {
  width: 100%;
  height: 350rpx;
} */
.swiperViewMain {
  display: flex;
  align-items: center;
  /* margin-top: 150rpx; */
  transition: all 1s;
}

.imgItem {
  display: flex;
  align-items: center;
  padding-top: 10rpx;
  border-radius: 20rpx;
  height: 168rpx;
  width: 138rpx;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); */
}
/* swiper里面的内容 */
.scollOutside{
  height: 100%;
  width: 100%;
  color: white;
}

.swiper {
  /* margin-top: 40rpx; */
  height: 90%;
  /* color: white; */
  /* background-color: white; */
}
.scroll {
  margin-top: 40rpx;
  height: 100%;
  color: white;
  background-color: white;
  border-radius: 10rpx;
}

.swiper-item {
  display: block;
}

.slide-image {
  width: 100%;
}

.swiper {
  width: 100%;
}

.category {
  padding: 15px 0 10px 0;
  overflow: auto;
  background-color: #FFF;
  margin-bottom: 10px;
}

.category_item {
  width: 25%;
  float: left;
  margin-bottom: 10px;
}

.icon_wrap {
  width: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.index_icon {
  width: 40px;
  height: 40px;
}

.category_item_text {
  text-align: center;
  font-size: 13px;
  color: #737373;
}

.singal_item {
  text-align: center;
  background-color: #FFF;
  margin-bottom: 10px;
}

.singal_item_title {
  padding: 12px;
  font-size: 16px;
}

.singal_item_image {
  line-height: 0;
}

.onenet_btn {
  padding: 10px;
  background-color: #fff;
  font-size: 16px;
  border-bottom: 1px solid #E9E9E9;
}

/* .room_img{
  width: 100rpx;
  height: 100rpx;
} */

.weui_cell_hd-arrow_led {
  display: inline-block;
  /* width: 100%;
  height: 40rpx; */
  vertical-align: -5rpx;
  /* align-items: center; */
  margin-left: 450rpx;
}

.badge {
  position: absolute;
  top: 18px;
  right: 40px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  background: #ff0000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 8px;
}

/* 功能2：RGB区域 */
.RGB_head {
  position: relative;
  display: flex;
  margin-top: 20rpx;
  /* padding: 50rpx, 0; */
  left: 30rpx;
  /* -webkit-box-align: center;
  -ms-flex-align: center; */
  align-items: center;
}

.RGB_head_title {
  font-size: 30px;
  /* color: #939393; */
  color: #030303;
}

.RGB_slider {
  width: 100%;
  height: 100rpx;
}

.RGB-slider-box {
  /* height: 50rpx; */
  font-weight: 95%;
  line-height: 10rpx;
  font-size: 35rpx;
  /* color: #666; */
}

/* .with_arrow{
  position: absolute;
  top: 18px;
  right: 15px;
  width: 15px;
  height: 15px; */
/* background-image: url(../../images/icon-arrowdown.png); */
/* background-repeat: no-repeat;
  background-size: 100% 100%;
} */

/* RGB色块展示 */
.colorArea {
  /* display: flex;             
  justify-content: center;    
  align-items: center;        
  width: 80%;
  height: 100px;
  padding: 5px; */
  width: 60%;
  height: 150rpx;
  margin: 40rpx auto;
  border-radius: 5px
}

.show-btn {
  margin-top: 100rpx;
  color: #22cc22;
}

.input {
  width: 100%;
  height: 82rpx;
  font-size: 28rpx;
  line-height: 28rpx;
  padding: 0 20rpx;
  box-sizing: border-box;
  color: #333;
}

/* 滑块部分设置 */
.tui-content {
  /* display: flex; */
  width: 100%;
  height: 200rpx;
}

.tui-slider-head {
  height: 80rpx;
  font-weight: 95%;
  line-height: 80rpx;
  font-size: 35rpx;
  font-family: SourceHanSansCN;
  margin-top: 20rpx;
  margin-left: 35rpx;
  color: #030303;
}

.tui-slider-box {
  height: 80rpx;
  font-weight: 95%;
  line-height: 80rpx;
  font-size: 35rpx;
  color: #666;
}

/* 底部光效轮播图 */
/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:200rpx;
} */
.container {
  height: 300rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5rpx 0;
  box-sizing: border-box;
}

/* 光效文字 */
.dot {
  margin-top: 15rpx;
  height: 50rpx;
  color: #10448d;
  font-size: large;
}
/* 光效图片按键 */
.sendstar {
  display: flex;
  justify-content: center;
  /* 设置背景颜色一致 */
  background: transparent;
  /*设置边框颜色一致*/
  border-color: transparent;
  position: relative;
  top: 5rpx;
  margin-bottom: 20rpx;
  /* box-shadow:0px 0px 8px #999 inse; */
  height: 100rpx;
  width: 150rpx;
}

.swiper-box {
  margin-top: 290rpx;
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-head {
  font-size: 32rpx;
  color: #aaa;
  margin-top: 5rpx
}

.swiper-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: unset;
  width: 100%;
  height: 350rpx;
  margin-top: 20rpx;
}

.swiperItem1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: unset;
  z-index: 0.5;
}

.swiperItemActive1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: unset;
  z-index: 1;
}

.imageItem1 {
  height: 100rpx;
  width: 100rpx;
  border-radius: 7rpx;
  margin: 10rpx 0rpx;
  /* border: 3rpx solid #999;
	border-radius: 10rpx;
  padding: 10rpx; */
  /* opacity: 0.5; */
}


.active1 {
  transform: scale(1.2);
  transition: all 0.2s ease-in 0s;
  /* opacity: 1; */
}

/* 通信测试模块 */
.connect_box {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 32rpx;
  color: #666;
  font-family: "Microsoft YaHei";
}

.connect_device_name {
  float: left;
  padding-left: 10px;
  color: #39beff;
}

.connect_state {
  float: right;
  padding-right: 10px;
  text-decoration: underline;
  color: #39beff;
}

.send_text {
  height: 100px;
  width: 90%;
  border: 2px solid #39beff;
  margin: 10px auto;
  padding: 5px;
}

.send_btn_box {
  width: 92%;
  margin: auto;
  font-size: 32rpx;
  color: #333;
  font-family: "Microsoft YaHei";
  height: 35px;
  line-height: 35px;
}

.send_bytes {
  display: inline-block;
}

.send_bytes_val {
  display: inline-block;
  margin-left: 10px;
  color: #39beff;
}

.send_btn {
  background-color: #eee;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  float: right;
}

.send_btn:active {
  background-color: #d4d4d4;
}

.send_clean_btn {
  background-color: #eee;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  float: right;
  margin-right: 7px;
}

.send_clean_btn:active {
  background-color: #d4d4d4;
}

.send_ascii {
  float: right;
  margin-right: 10px;
  color: #39beff;
}

.send_hex {
  float: right;
  margin-right: 18px;
  color: #39beff;
  font-size: 36rpx;
}

.recv_box {
  margin-top: 15px;
}

.revc_text {
  width: 90%;
  height: 550rpx;
  border: 2px solid grey;
  margin: 0 auto 10px;
  padding: 5px;
  font-size: 25rpx;
}

.recv_btn_box {
  width: 92%;
  margin: auto;
  font-size: 25rpx;
  color: grey;
  font-family: "Microsoft YaHei";
  height: 35px;
  line-height: 35px;
}

.recv_bytes {
  display: inline-block;
}

.recv_bytes_val {
  display: inline-block;
  margin-left: 10px;
  color: grey;
}

.recv_clean_btn {
  background-color: #eee;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  float: right;
}

.recv_clean_btn:active {
  background-color: #d4d4d4;
}

.recv_hex {
  float: right;
  margin-right: 18px;
  color: #39beff;
  font-size: 36rpx;
}

.speed_value {
  float: right;
  margin-right: 40rpx;
  color: #39beff;
}

/* 色纸布局设置 */
/* .item{
  width: 80%;
  height: 200rpx;
  margin: 40rpx auto;
  background: #2ca2ed;
} */
.colorCardBtn_RosePink {
  width: 40%;
  height: 100rpx;
  margin-top: 30rpx;
  margin-right: 30rpx;
  margin-left: 30rpx;
  background-color: #fc5ad4;
}

.colorCardBtn_DarkSalmon {
  width: 40%;
  height: 100rpx;
  margin-top: 30rpx;
  margin-right: 30rpx;
  margin-left: 30rpx;
  background-color: #f9876d;
}

.colorCardBtn_MediumYellow {
  width: 40%;
  height: 100rpx;
  margin-top: 30rpx;
  margin-right: 30rpx;
  margin-left: 30rpx;
  background-color: #feff27;
}

.colorCardBtn_Fire {
  width: 40%;
  height: 100rpx;
  margin-top: 30rpx;
  margin-right: 30rpx;
  margin-left: 30rpx;
  background-color: #fd2d13;
}

/* ------------- 底部弹窗 ---------------- */
/*模态框*/
.modal{
  position:fixed; 
  top:0; 
  right:0; 
  bottom:0; 
  left:0; 
  z-index:1000;
}

.modal-cancel{
  position:absolute; 
  z-index:2000; 
  top:0; 
  right:0; 
  bottom: 0; 
  left:0; 
  background:rgba(0,0,0,0.3);
}

.bottom-dialog-body{
  position: absolute;
  /* position: relative; */
  width:90%; 
  z-index:3000; 
  bottom:0; 
  left:40rpx;
  border-top-left-radius: 20rpx;
  border-top-right-radius: 20rpx;
  background-color: #fff;
}
/*动画前初始位置*/
.bottom-positon{
  -webkit-transform:translateY(100%);
  transform:translateY(100%);
}

/* 底部弹出框 */
.bottom-positon{
  text-align: center;
  /* border-radius: 20rpx; */
}
.Mselect{
  margin-bottom: 20rpx;
  /* border-radius: 20rpx; */
}
.Mselect view{
  padding: 26rpx 0;
  background: #fff;
  border-top-right-radius: 20rpx;
  border-top-left-radius: 20rpx;
}
.Mselect view:not(:last-of-type){
  border-bottom: 1px solid #dfdede ;   
  /* border-bottom-width: 60%; */
}
/* .Mselect view:not(:last-of-type)::after{
  content: ‘’;
  width:60%;
  height: 10px;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid #dfdede ;   
} */
.Mcancel{
  background: #fff;
  padding: 26rpx 0;
}

/* 爆炸触发按钮 */
.functionBox {
  display: flex;
  margin: 0 40rpx;
  height: 200rpx;
  align-items: center;
  justify-content: space-between;
}
.trigger {
  height: 100rpx;
  width: 100%;
  margin: auto auto;
  font-weight: 95%;
  text-align: center;
  line-height: 100rpx;
  font-size: 35rpx;
  color: #666;
  border: 2rpx solid #666;
	border-radius: 10rpx;
}
.changeBlue {
  color: #2cafec;
  border: 2rpx solid #2cafec;
}

/* 警灯 */
.car {
  /* flex:1; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rpx;
  width: 140rpx;
  border: 2rpx solid #666;
  border-radius: 30rpx;
  box-shadow: 1rpx 2rpx 18rpx 0rpx 
  rgba(128, 128, 128, 0.1);
}
.car image {
  height: 70%;
  width: 70%;
}

/* 效果类型 */
.typeBox {
  display: flex;
  margin: 0 40rpx;
  height: 120rpx;
  align-items: center;
  justify-content: space-between;
}

.type {
  /* flex:1; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rpx;
  width: 140rpx;
  font-size: larger;
  color: #666;
  border: 2rpx solid #666;
  border-radius: 30rpx;
  box-shadow: 1rpx 2rpx 18rpx 0rpx 
  rgba(128, 128, 128, 0.1);
}

.blue {
  border: 2rpx solid #2cafec;
  color: #2cafec;
}

