<view class="commen_title">
  <text>灯光设备</text>
</view>

<!-- <view>
  <view  wx:for="{{devices}}" wx:key="id" wx:for-item="item" data-id="{{item.id}}" bindtap="toDetailsTap">
    <view class="device">
      <view class="single_image_wrap">
        <image src="../../image/led/led.jpg" class="device_image"></image>
      </view>
      <view class="device_info">
        
          <view class="device_name">
            <text>LED</text>
          </view>
          <view class="device_d">
            <view class="equipment" data-idx='{{item}}'>{{item.equipment_name}} 
               <text>{{item.equipment_name}}</text> -->
          <!-- </view>
            <view class="device_status">
              <text>{{item.online === true ? ' 在线' : '离线'}}</text>
            </view>
          </view>
      </view>
    </view>
  </view>

</view>  -->


<!-- 灯光设备 -->
<view class="DEMODevof">
  <!-- <view  wx:for="{{devices}}" wx:key="id" wx:for-item="item" data-id="{{item.id}}" bindtap="toDetailsTap"> -->
  <!-- <view  wx:for="{{equimentList}}" wx:key="id" wx:for-item="item" data-id="{{item.id}}" bindtap="toDetailsTap"> -->
    <view class="device">
      <view class="single_image_wrap">
        <image class="more" src="../../image/more.png" mode="heightFix" style="height: 100%; width: 100%;" bindtap="showModal"></image>
      </view>
      <view class="device_info">
        <!-- 页面跳转 -->
        <navigator url="../ledFunc/ledFunc?id={{item.id}}" style="height: 80%; width: 100%;" hover-class="none"> 
        <!-- <navigator url="../led1/led1?id={{item.id}}" style="height: 80%; width: 100%;">  -->
          <view class="device_name">
            <text>LED1</text>
            <!-- <text>{{item.title}}</text> -->
          </view>
          <!-- <view class="device_d"> -->
            <!-- <view class="equipment" data-idx='{{item}}'>{{item.equipment_name}}  -->
              <!-- <text>{{item.equipment_name}}</text> -->
            <!-- </view> -->
            <!-- <view class="device_status">
              <text>{{item.online === true ? ' 在线' : '离线'}}</text>
            </view> -->
          <!-- </view> -->
        </navigator>
      </view>
    </view>
  <!-- </view> -->
</view>