<view class="connect_box">
    <text class='connect_device_name'>连接设备名：{{name}}</text>
    <text wx:if="{{connected}}" class="connect_state" catchtap="DisConnectTap">已连接</text>
    <text wx:else class="connect_state">未连接</text>
</view>

<view class="body-view">
    <view class="page__hd">
        <text class="page__title">switch</text>
        <text class="page__desc">开关</text>
    </view>
    <!-- SendTapHex switch1Change -->
    <switch bindchange="SendTapHex"/> 
</view>

<view class="body-view">
    <button bindtap="Sendeffect1" hover-stay-time="10">特效1: lightning   
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect2" hover-stay-time="10">特效2: explosion   
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect3" hover-stay-time="10">特效3: police   
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect4" hover-stay-time="10">特效4: police1   
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect5" hover-stay-time="10">特效5: TV   
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect6" hover-stay-time="10">特效6: light  
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect7" hover-stay-time="10">特效7: fire1   
    </button>
</view>
<view class="body-view">
    <button bindtap="Sendeffect8" hover-stay-time="10">特效8: welding   
    </button>
</view>

<view class="body-view">
    <button bindtap="Sendcolortem" hover-stay-time="10">色温   
    </button>
</view>

<view class="detail_box">

    <!-- <textarea class="send_text" maxlength="-1" disabled value="{{inputText}}"></textarea>
    <text id='send_button' class="send_btn" bindtap="SendTap">发送</text>
    <text class="send_clean_btn" bindtap="SendCleanTap">清空</text> -->

    <!--滑块输入-->
    <view class="tui-content">
        <view class="tui-slider-head">亮度：{{(bright)}}%</view>
        <view class="tui-slider-box">
        <slider  bindchange="changebright" min="0" max="100" step="0.1" value="{{bright}}" show-value/>
        </view>
    </view>
    <view class="tui-content">
        <view class="tui-slider-head">色温：{{inputText}}K</view>
        <view class="tui-slider-box">
        <slider bindchange="changecolor_temp"  min="4180" max="10000" step="10" value="{{inputText}}" show-value/>
        </view>
    </view>

    <!-- 输入部分 -->
    <view class="send_box">
    <textarea class="send_text" maxlength="-1" bindinput="SendValue" value="{{inputText}}" />
    <view class="send_btn_box">
        <text class="send_bytes" catchtap='CleanNumberSend'>已发送的数据</text>
        <text id='send_button' class="send_btn" bindtap="SendTap1">发送</text>
        <text class="send_clean_btn" bindtap="SendCleanTap">清空</text>
    </view>
    </view>
    <!-- 接受部分 -->
    <view class="recv_box">
        <textarea class="revc_text" maxlength="-1" disabled value="{{receiveText}}"></textarea>
        <view class="recv_btn_box">
            <text class="recv_bytes" catchtap='CleanNumberRecv'>接收到的数据</text>
            <text class="recv_clean_btn" bindtap="RecvCleanTap">清空</text>
            <!--  <text class="speed_value">0 B/s</text> -->
        </view>
    </view>

</view>